{% extends "base.html.j2" %}
{% block title %}
    admin | dashboard
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="admin-field">
        <h3>Za posledních {{ days }} dní přibylo</h3>
    </div>
{% endblock %}
